body {
    overflow: hidden;
}

div {
    font-family: 'Public Pixel', sans-serif;
}

.capa {
    display: inline;
    position: absolute;
    z-index: 1;
    background-color: #0D262D;
}

.capa-lateral {
    height: 100%;
    width: 25%;
}

.capa-esquerda {
    left: 0;
}

.capa-direita {
    right: 0;
}

[wm-flappy] {
    width: 1074px;
    height: 426px;
    background-color: #87ceeb;
    display: flex;
    justify-content: space-around;
}

.complete-tube-top,
.complete-tube-bottom {
    position: absolute;
    right: -0.8%;
    height: 20%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complete-tube-bottom {
    align-self: flex-end;
    flex-direction: column-reverse;
}

.tube {
    padding: 70% 46%;
    border: 4px solid #000;
    border-top: none;
    border-bottom: none;
    background-color: #00fe00;
}

.hat {
    background-color: #00fe00;
    border: 4px solid #000;
}

.point {
    height: 100%;
    width: 1px;
    padding: 100% 1px;
    background: #fff;
}

img {
    height: 30px;
    margin-right: 50%;
}

.placar {
    position: absolute;
    margin-top: 10px;
    z-index: 1;
}